<h1 class="name">Julian Feliciano</h1>
<small class="subtitle">Software Developer</small>


{{link-button className="blog-btn" text="Blog"}}
{{link-button className="about-btn" text="About"}}
{{link-button className="case-studies-btn" text="Case Studies"}}
